<GridLayout
  rows="auto auto auto *"
  columns="auto 70* 30*"
  class="pb-2"
>
  <button
    text="&#xf053;"
    hlmBtn
    variant="outline"
    (tap)="back()"
    class="fa m-0 mr-2 p-0 w-10 h-10"
  ></button>
  <StackLayout
    col="1"
    colSpan="2"
    class="pb-1 pt-2"
    orientation="horizontal"
    (tap)="back()"
  >
    <label hlmH1 class="text-primary mr-1"
      >{{ pokemon?.name | titlecase }}</label
    >
    <label hlmH2 class="text-muted-foreground">#{{ pokemon?.id }}</label>
  </StackLayout>

  <StackLayout row="1" colSpan="3" class="pb-1 px-4" orientation="horizontal">
    <ng-container *ngFor="let type of pokemon?.types">
      <label class="mr-1" hlmBadge [type]="type">{{ type | titlecase }}</label>
    </ng-container>
  </StackLayout>

  <ImageCacheIt
    [sharedTransitionTag]="'poke-image-' + pokemon?.id"
    [src]="pokemon?.image"
    stretch="aspectFit"
    row="2"
    colSpan="2"
    class="m-2"
    width="170"
  ></ImageCacheIt>

  <StackLayout
    *rxLet="currentIndex$ as index"
    row="2"
    col="2"
    class="mr-2 my-2"
    orientation="vertical"
    hlmTabsList
  >
    <button
      hlmTabsTrigger
      *ngFor="
      let tab of ['Stats', 'Details', 'Abilities', 'Moves', 'Evolutions'];
      let i = index
    "
      width="135"
      height="35"
      class="text-xs"
      color="{{ index | colorTransition : i : '#fff' : 'grey' }}"
      backgroundColor="{{ index | colorTransition : i : 'black' : '#fff' }}"
      (tap)="onSelectedIndexChanged(i)"
    >
      {{ tab }}
    </button>
  </StackLayout>

  <Pager peaking="8" row="3" colSpan="3" (loaded)="onPagerLoaded($event)">
    <pokemon-stats
      hlmCard
      class="p-4 mx-2 my-1"
      [pokemon]="pokemon"
      *pagerItem
    />
    <pokemon-details
      hlmCard
      class="p-4 mx-2 my-1"
      [pokemon]="pokemon"
      *pagerItem
    />
    <pokemon-abilities
      hlmCard
      class="p-4 mx-2 my-1"
      [pokemon]="pokemon"
      *pagerItem
    />
    <pokemon-moves
      hlmCard
      class="py-2 mx-2 my-1"
      [pokemon]="pokemon"
      *pagerItem
    />

    <StackLayout hlmCard class="p-4 mx-2 my-1" *pagerItem>
      <ScrollView height="100%">
        <pokemon-evolutions
          [pokemon]="pokemon"
          (tapped)="onEvolutionChange($event)"
        />
      </ScrollView>
    </StackLayout>
  </Pager>
</GridLayout>
