<GridLayout rows="auto *">
  <StackLayout row="0" class="p-2 text-primary dark:text-white">
    <GridLayout class="mb-1" columns="*,auto,auto">
      <label hlmH1 class="text-lg">NativeScript Pokedex</label>
      <button
        col="1"
        text="&#xf0c9;"
        hlmBtn
        variant="outline"
        (tap)="setDisplayMode('fill')"
        class="fa w-10 h-10"
      ></button>
      <button
        col="2"
        text="&#xf009;"
        hlmBtn
        variant="outline"
        (tap)="setDisplayMode('grid')"
        class="fa ml-1 w-10 h-10"
      ></button>
    </GridLayout>
    <TextField
      (textChange)="searchValue = $event.value"
      autocorrect="false"
      class="border-border border rounded-md p-2 text-primary dark:text-white"
      hint="Search Pokemon"
    ></TextField>
  </StackLayout>
  <CollectionView
    row="1"
    rowHeight="120"
    [items]="pokemons"
    (loaded)="onCollectionViewLoad($event)"
    [colWidth]="displayMode() === 'fill' ? '100%' : '50%'"
    (itemTap)="navigateTo($event)"
    iosOverflowSafeArea="true"
  >
    <ng-template let-pokemon="item">
      <pokemon-card [pokemon]="pokemon" [displayMode]="displayMode()" />
    </ng-template>
  </CollectionView>

  <GridLayout *ngIf="loading" rowSpan="2" rows="*" columns="*">
    <ImageCacheIt
      src="https://cdn-icons-png.flaticon.com/256/744/744104.png"
      height="60"
      width="60"
    ></ImageCacheIt>
    <ActivityIndicator
      class="text-primary"
      height="100"
      width="100"
      busy="true"
    />
  </GridLayout>
</GridLayout>

<ng-template #error>
  <StackLayout class="p-4" row="1">
    <label>Something went wrong</label>
    <button hlmBtn (tap)="action.retry()">Retry</button>
  </StackLayout>
</ng-template>
